<p>employee-show works!</p>
<div [class]="'frm'">
    <form>
        <section name="choice" ngModel>
            <option>Name</option>
            <option></option>
        </section>
        
        <input type="text" name="" placeholder="Search" id="" ngModel>
        <input type="submit" value="Search">
    </form>
</div>
<div>
    <div [class]="'container'" >
        <div [class]="'id'"><b>Name</b></div>
        <div [class]="'name'"><b>Id</b></div>   
        <div [class]="'sal'"><b>Salary</b></div><br>
    </div>
</div>
<div [class]="'container'" *ngFor="let i of dataList">
    <div [class]="'id'">{{i.emname|uppercase}}</div>
    <div [class]="'name'">{{i.emid|number}}</div>   
    <div [class]="'sal'">{{i.emsal|currency:'INR'}}</div><br>
</div>